    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Time Stamp?</h2>
            <p class="intro text-center">
                Time Stamp is THE work time tracker in the Windows Phone store. It is easy to use and feature rich. After more than 4 years in development and 
                available since Windows Phone 7 it became the best-rated work time tracker in the store. Compare for yourself and try it out. Have a closer looke
                at some of the features below.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Variable work times</h3>
                        <p>Configure your work times in Time Stamp according to your work contract. Use variable break times and detailed daily work/break times for customization.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Just open Time Stamp, start your work time and quit. No need to create projects or customers beforehand. Do the same to end your work day.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Comprehensive report</h3>
                        <p>Use the report to show your work times on a weekly, monthly or yearly basis. You can even export the report to Excel.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">NFC & GPS* support</h3>
                        <p>Use either NFC or GPS support to automatically start or end your work time tracking. With GPS there is even no need to start the app at all as work times are started or ended depending on a predefined geolocation.</p>
                        <p class="star-text">* GPS is available in Time Stamp v3. Join the Beta now!</p> 
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Export & Backup</h3>
                        <p>Export and Backup your data to various destinations including OneDrive, DropBox**, Google Drive**, E-Mail** and Local Storage**</p>
                        <p class="star-text">** Supported in Time Stamp v3. Join the Beta now!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Still on-going</h3>
                        <!--<p>You can change the icon above to any of the 400+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>-->
                        <p>Time Stamp is after more than 4 years still in development. More features coming in the future :)</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
