    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <div class="info text-center">
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/brainchest" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/brainchest" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/stephanarenswald"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.xing.com/profile/Stephan_Arenswald"><i class="fa fa-xing"></i></a></li>  
                        <li><a href="http://www.brainchest.net"><i class="fa fa-home"></i></a></li>   
                        <li class="last"><a href="mailto: stephan@brainchest.net"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
