    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Video Tutorials</h2>            
            <div class="block">
                <p>There are some videos that show how to use Time Stamp. See below for an introductory video. You can find more on my YouTube channel. With v3 new videos will be made available.</p>
                <div class="g-ytsubscribe" data-channel="brainchest" data-layout="default" data-count="default"></div>
                <div class="video">
                    <iframe width="720" height="405" src="https://www.youtube.com/embed/sXTFU1iKid8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div><!--//block-->
        </div><!--//container-->
    </section><!--//docs->
