    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Calculate work times based on weekly/monthly* work hours</li>
                <li><i class="fa fa-check"></i> (Night) shift work supported</li>
                <li><i class="fa fa-check"></i> Specify detailed daily work and break time information</li>
                <li><i class="fa fa-check"></i> Break times depending on work times</li>
                <li><i class="fa fa-check"></i> Customizable start screen</li>
                <li><i class="fa fa-check"></i> Show comprehensive report</li>
                <li><i class="fa fa-check"></i> Export reports as Excel file to OneDrive, DropBox* & more*</li>
                <li><i class="fa fa-check"></i> Backup/Restore</li>
                <li><i class="fa fa-check"></i> Record free days</li>
                <li><i class="fa fa-check"></i> Tagging support to track projects & customers</li>
                <li><i class="fa fa-check"></i> Show times as decimal</li>
                <li><i class="fa fa-check"></i> Start/end work times using NFC & GPS*</li>
                <li><i class="fa fa-check"></i> Live tile support</li>
                <li><i class="fa fa-check"></i> Much more...</li>
            </ul>
        </div><!--//container-->
        <p class="star-text">** Supported in Time Stamp v3. Join the Beta now!</p>
    </section><!--//features-->
